Data from: http://www.nfd.com.tw/house/year/2019.htm
for the sorting of the six marks data

In [48]:
!pip install beautifulsoup4 --quiet
!pip install pandas

Requirement already satisfied: pandas in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/chutszkan/miniforge3/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Sorted Result (1976 ~_)

In [79]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [81]:
for year in range(1976, 2026):
    response = requests.get(f'http://www.nfd.com.tw/house/year/{year}.htm')
    response.encoding = 'big5'
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table')
    if table:
        data = []
        for row in table.find_all('tr'):
            cells = row.find_all('td')
            row_data = [cell.text.strip() for cell in cells]
            data.append(row_data)     
    else:
        print('error')   
    df = pd.DataFrame(data[1:], columns=data[0])
    df.to_csv(f'data/{year}.csv')

In [82]:
all_df = pd.DataFrame(columns=data[0])
for year in range(1976, 2026):
    temp_df = pd.read_csv(f'data/{year}.csv', index_col=0)
    all_df = pd.concat([all_df, temp_df], ignore_index=True)

In [84]:
all_df

      YEAR TIMES  N1  N2  N3  N4  N5  N6  S1
0     1976     1   3  13  14  16  22  28  34
1     1976     2   1   8  15  22  31  36  26
2     1976     3   4  13  32  34  35  36  21
3     1976     4   4  19  21  23  24  29  12
4     1976     5   6   8   9  16  17  34  24
...    ...   ...  ..  ..  ..  ..  ..  ..  ..
5827  2025    11  14  18  30  36  40  42   1
5828  2025    12   3  13  15  18  19  24  37
5829  2025    13   1   4  18  25  38  45  23
5830  2025    14   1   7  21  27  33  45  17
5831  2025    15   5  15  20  26  30  40  39

[5832 rows x 9 columns]

In [85]:
all_df.to_json('data/data.json')